.table-view {
    -fx-background-color: red;
    -fx-background-radius: 30;
    -fx-fill: white;
}

.table-view .column-header-background {
    -fx-background-color: #575757;
    -fx-background-radius: 30;
    -fx-background-insets: 0 0 10 0;
    -fx-padding: 0 0 10 0;
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.1), 10.0, 0.0, 0.0, 10.0);
}

.table-view .column-header,
.table-view .filler {
    -fx-size: 40;
    -fx-border-width: 0 0 10 0;
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: white;
}